@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

:root {
    --main: #F2E3DB;
    --secondary: #41644A;
    --secondary-dark: #263A29;
    --accent: #E86A33;
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    height: 100vh;
    width: 100vw;
}

/* ========== NAVBAR ========== */

nav {
    background-color: var(--secondary);
    width: 100%;
    height: 6rem;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    cursor: pointer;
}

.nav_opts {
    width: 85%;
    height: 60%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separator {
    background-color: var(--secondary-dark);
    height: 100%;
    width: 3px;
    border-radius: 500px;
}

.nav_opt {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.nav_opt a,
.nav_opt label {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav_opt form,
.search_bar {
    height: 100%;
}

.nav_opt form {
    width: 100%;
}

.nav_search {
    width: 40%;
}

.search_bar {
    width: 100%;
    border-radius: 10px;
    border: 4px solid var(--secondary-dark);
    padding-left: 2.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search_bar::placeholder {
    color: var(--secondary-dark);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

#dropdown {
    display: none;
}

.nav_opt label {
    cursor: pointer;
}

.nav_opt::after {
    content: "";
    position: absolute;
    top: 90%;
    width: 0;
    height: 3px;
    background-color: white;
    border-radius: 500px;
}

.nav_search::after {
    display: none;
}

.nav_opt:hover::after {
    animation: disp 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes disp {
    0% {width: 0}

    100% {width: 100%}
}